/* * {
  margin: 0px;
  padding: 0px;
} */

.center {
  text-align: center;
  border: 1px solid;
  border-radius: 1px 100px / 100px;
  height: 27px;
}

strong {
  color: #fed234;
}

.items {
  color: purple;
  font-style: italic;
}

.codes {
  color: rgb(40, 20, 0);
}

.ussd {
  float: right;
  bottom: 10px;
}