/* * {
  margin: 0px;
  padding: 0px;
} */

h2 {
  text-align: center;
  border: 1px solid;
  border-radius: 10px 100px / 120px;
  width: 370px;
  height: 32px;
}

strong {
  color: #fed234;
}

.items {
  color: purple;
  font-style: italic;
}

.post {
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}